#geral {
    width: 900px;
    margin: auto;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid gray;
    overflow: hidden;
}

#cabecalho, #esquerda, #conteudo, #rodape #direita{
    padding: 10px;
}

#cabecalho {
    background-color: #dddddd;
    border-bottom: 1px solid gray;
    background-image: url(bannerGCA.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;

}

#esquerda {
    float: left;
    width: 150px;
    background-color: #f5f5f5;
    border-right: gray
}
#direita{
    float: right;
    width: 158px;
    background-color: #f5f5f5;
}

#conteudo {
    float: left;
    width: 550px;
    margin-top: 0px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: #f5f5f5;

}

#rodape {
    clear: both;
    color: #333333;
    background-color: #dddddd;
    border-top: 1px solid gray;
} 

h1{
    color: #0d3b66;
}
img{
    text-align: center;
}
.centralizar{
    text-align: center;
}
